html {
	background-color: grey;
	color: white;
}

.wrapper {
	width: 1170px;
	margin:0 auto;
	background-color: blue;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;

}

.school {
background-color: black;
}

.students {
background-color: red;
}

.city {
background-color: pink;
}